<div class="login">
  <h2>Inicio de sesión</h2>
  <form class="form-login" autocomplete="off" [formGroup]="forma">
    <div class="control-form-input">
      <label [ngClass]="{'label-focus':focusUsername}" for="username">
        <span class="untouched" [ngClass]="  {'touched':touchedUsername,'span-focus':focusUsername}">Username</span>
        <input type="text" name="username" id="username" (focus)='onFocusUsername()' (blur)="blurInput('username')"
          formControlName="username" />
      </label>
    </div>
    <div class="control-form-input">
      <label [ngClass]="{'label-focus':focusPassword}" for="password">
        <span class="untouched" [ngClass]=" {'touched':touchedPassword,'span-focus':focusPassword}">Password</span>
        <input type="password" name="password" id="password"  (focus)='onFocusPassword()' (blur)="blurInput('password')"formControlName="password" />
      </label>
    </div>
    <button type="submit" class="mt-1 btn">Iniciar sesión</button>
  </form>
</div>